In [14]:
import pandas as pd
from IPython.display import display, Markdown
import timeit

Перший рівень (спрощені завдання)

In [15]:
headers: list = ["Date", "Time", "Global_active_power", "Global_reactive_power", "Voltage", 
                 "Global_intensity", "Sub_metering_1", "Sub_metering_2", "Sub_metering_3"]

pd_types: dict = {"Date": str, "Time": str, "Global_active_power": float, "Global_reactive_power": float,
              "Voltage": float, "Global_intensity": float, "Sub_metering_1": float, "Sub_metering_2": float,
              "Sub_metering_1": float}

np_types: list[tuple] = [("Date", "U10"), ("Time", "U8"), ("Global_active_power",
              "float64"), ("Global_reactive_power", "float64"), ("Voltage",
              "float64"), ("Global_intensity", "float64"), ("Sub_metering_1",
              "float64"), ("Sub_metering_2", "float64"), ("Sub_metering_3",
              "float64")]

In [16]:
pd_df = pd.read_csv("household_power_consumption.txt", delimiter=';',
                 dtype=pd_types, na_values="?",  header=1, names=headers)

pd_df["Time"] = pd.to_datetime(pd_df["Time"], format="%H:%M:%S").dt.time
pd_df['Date'] = pd.to_datetime(pd_df["Date"], format="%d/%m/%Y")

#Dropping NaN values
# pd_df.dropna(inplace=True)

#Changing NaN values
pd_df.fillna(pd_df.mean(numeric_only=True), inplace=True)

In [17]:
def pd_sort_gap(value: int) -> None:
      display(Markdown(" ### ⚡All entries with Global_active_power higher than 5 kW"))
      display(pd_df[pd_df["Global_active_power"] > value].head(20))

def pd_sort_voltage(value: int) -> None:
      display(Markdown(" ### ⚡All entries with Voltage higher than 235 V"))
      display(pd_df[pd_df["Voltage"] > value].head(20))

def pd_sort_gi(values: tuple) -> None:
      display(Markdown(" ### ⚡All entries with Global_intensity between 19-20 A \
                        and \"Sub_metering_2\" > \"Sub_metering_3\""))
      display(pd_df[(pd_df["Global_intensity"].between(values[0], values[1]))
                     & (pd_df["Sub_metering_2"]> pd_df["Sub_metering_3"])].head(20))
      
def pd_sort_sample() -> None:
      sample_df = pd_df.sample(n=500000, replace=False, random_state=42)
      avg_values = sample_df[["Sub_metering_1", "Sub_metering_2", "Sub_metering_3"]].mean()
      display(Markdown(f''' ### ⚡ Average values of energy consumption:
            Sub_metering_1: {avg_values["Sub_metering_1"]:.2f}
            Sub_metering_2: {avg_values["Sub_metering_2"]:.2f}
            Sub_metering_3: {avg_values["Sub_metering_3"]:.2f}
            '''))

def pd_multiple_sort(value: int) -> None:
      sorted_df = pd_df[(pd_df["Time"] > pd.to_datetime("18:00:00").time()) & 
                        (pd_df["Global_active_power"] > value)]
      
      sorted_df = sorted_df[(sorted_df["Sub_metering_2"] > sorted_df["Sub_metering_1"]) &
                           (sorted_df["Sub_metering_2"] > sorted_df["Sub_metering_3"])]
      
      half_len = len(sorted_df)//2

      first_half = sorted_df.iloc[:half_len]
      second_half = sorted_df.iloc[half_len:]
      
      final_df = pd.concat([first_half.iloc[::3], second_half.iloc[::4]])
      display(final_df.head(20))

In [18]:
#

# pd_sort_gap(value=5)
print(f"Time of execution: {timeit.timeit(lambda: pd_sort_gap(value=5), number=1)}")
#
print(f"Time of execution: {timeit.timeit(lambda: pd_sort_voltage(value=235), number=1)}")

#
print(f"Time of execution: {timeit.timeit(lambda: pd_sort_gi(values=(19, 20)), number=1)}")

#
print(f"Time of execution: {timeit.timeit(lambda: pd_sort_sample(), number=1)}")

#
print(f"Time of execution: {timeit.timeit(lambda: pd_multiple_sort(value=6), number=1)}")

 ### ⚡All entries with Global_active_power higher than 5 kW

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
1,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
10,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
11,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
12,2006-12-16,17:37:00,5.268,0.398,232.91,22.6,0.0,2.0,17.0
19,2006-12-16,17:44:00,5.894,0.000,232.69,25.4,0.0,0.0,16.0
20,2006-12-16,17:45:00,7.706,0.000,230.98,33.2,0.0,0.0,17.0
21,2006-12-16,17:46:00,7.026,0.000,232.21,30.6,0.0,0.0,16.0
22,2006-12-16,17:47:00,5.174,0.000,234.19,22.0,0.0,0.0,17.0
40,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
41,2006-12-16,18:06:00,6.752,0.186,232.12,29.0,0.0,36.0,17.0
42,2006-12-16,18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
43,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
70,2006-12-16,18:35:00,6.072,0.000,232.48,26.4,0.0,27.0,17.0
460,2006-12-17,01:05:00,5.282,0.150,237.38,22.4,0.0,35.0,0.0
464,2006-12-17,01:09:00,5.242,0.178,239.49,21.8,0.0,37.0,0.0
468,2006-12-17,01:13:00,5.254,0.214,238.15,22.0,0.0,35.0,0.0
469,2006-12-17,01:14:00,5.246,0.230,237.91,22.0,0.0,36.0,0.0
470,2006-12-17,01:15:00,5.216,0.210,237.44,22.0,0.0,36.0,0.0

Time of execution: 0.027265800046734512

 ### ⚡All entries with Voltage higher than 235 V

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
3,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
4,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
5,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
6,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
13,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
14,2006-12-16,17:39:00,3.384,0.282,237.14,14.2,0.0,0.0,17.0
15,2006-12-16,17:40:00,3.270,0.152,236.73,13.8,0.0,0.0,17.0
16,2006-12-16,17:41:00,3.430,0.156,237.06,14.4,0.0,0.0,17.0
17,2006-12-16,17:42:00,3.266,0.000,237.13,13.8,0.0,0.0,18.0
18,2006-12-16,17:43:00,3.728,0.000,235.84,16.4,0.0,0.0,17.0
24,2006-12-16,17:49:00,3.248,0.000,236.66,13.6,0.0,0.0,17.0
25,2006-12-16,17:50:00,3.236,0.000,235.84,13.6,0.0,0.0,17.0
26,2006-12-16,17:51:00,3.228,0.000,235.60,13.6,0.0,0.0,17.0
27,2006-12-16,17:52:00,3.258,0.000,235.49,13.8,0.0,0.0,17.0
28,2006-12-16,17:53:00,3.178,0.000,235.28,13.4,0.0,0.0,17.0
29,2006-12-16,17:54:00,2.720,0.000,235.06,11.6,0.0,0.0,17.0
34,2006-12-16,17:59:00,2.472,0.058,236.94,10.4,0.0,0.0,17.0
35,2006-12-16,18:00:00,2.790,0.180,237.52,11.8,0.0,0.0,18.0
36,2006-12-16,18:01:00,2.624,0.144,238.20,11.0,0.0,0.0,17.0
37,2006-12-16,18:02:00,2.772,0.118,238.28,11.6,0.0,0.0,17.0

Time of execution: 0.17547939997166395

 ### ⚡All entries with Global_intensity between 19-20 A                         and "Sub_metering_2" > "Sub_metering_3"

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
44,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
459,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
463,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
474,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
475,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
476,2006-12-17,01:21:00,4.652,0.142,237.92,19.4,0.0,36.0,0.0
507,2006-12-17,01:52:00,4.622,0.240,239.59,19.2,0.0,37.0,0.0
943,2006-12-17,09:08:00,4.762,0.088,237.44,20.0,0.0,38.0,0.0
944,2006-12-17,09:09:00,4.506,0.088,237.25,19.0,0.0,38.0,0.0
1050,2006-12-17,10:55:00,4.444,0.136,235.97,19.2,2.0,50.0,17.0
2998,2006-12-18,19:23:00,4.642,0.400,233.62,19.8,0.0,36.0,0.0
2999,2006-12-18,19:24:00,4.580,0.390,232.51,19.6,0.0,37.0,0.0
3819,2006-12-19,09:04:00,4.674,0.104,236.91,19.6,38.0,18.0,17.0
3940,2006-12-19,11:05:00,4.602,0.000,237.24,19.4,0.0,73.0,0.0
3941,2006-12-19,11:06:00,4.698,0.000,237.94,19.6,0.0,73.0,0.0
3942,2006-12-19,11:07:00,4.702,0.000,238.03,19.6,0.0,73.0,0.0
3943,2006-12-19,11:08:00,4.702,0.080,237.81,19.6,0.0,73.0,0.0
3944,2006-12-19,11:09:00,4.660,0.084,236.58,19.6,0.0,73.0,0.0
3945,2006-12-19,11:10:00,4.618,0.072,235.53,19.6,0.0,72.0,0.0
3946,2006-12-19,11:11:00,4.668,0.086,236.91,19.6,0.0,73.0,0.0

Time of execution: 0.037450999952852726

 ### ⚡ Average values of energy consumption:
            Sub_metering_1: 1.12
            Sub_metering_2: 1.30
            Sub_metering_3: 6.46

Time of execution: 0.2480467000277713

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
40,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
43,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17493,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17497,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17500,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
17503,2006-12-28,21:08:00,7.352,0.000,235.45,31.2,1.0,73.0,17.0
17506,2006-12-28,21:11:00,9.048,0.000,231.48,39.0,34.0,71.0,16.0
17509,2006-12-28,21:14:00,9.118,0.108,231.18,39.4,36.0,72.0,16.0
17512,2006-12-28,21:17:00,7.040,0.130,233.27,30.2,37.0,38.0,17.0
18951,2006-12-29,21:16:00,6.146,0.116,230.53,26.6,0.0,70.0,0.0
18954,2006-12-29,21:19:00,6.184,0.138,231.57,26.6,0.0,70.0,0.0
18957,2006-12-29,21:22:00,6.214,0.120,230.53,26.8,0.0,70.0,0.0
18960,2006-12-29,21:25:00,6.086,0.000,229.04,26.6,0.0,69.0,0.0
18964,2006-12-29,21:29:00,6.660,0.000,229.00,29.0,0.0,69.0,17.0
19023,2006-12-29,22:28:00,6.300,0.294,236.08,26.8,0.0,65.0,17.0
19026,2006-12-29,22:31:00,6.426,0.282,234.80,27.4,0.0,73.0,17.0
19029,2006-12-29,22:34:00,6.238,0.268,235.12,26.4,0.0,73.0,17.0
31718,2007-01-07,18:03:00,6.458,0.000,230.85,27.8,0.0,69.0,16.0
31721,2007-01-07,18:06:00,6.676,0.000,230.88,28.8,0.0,69.0,16.0
31724,2007-01-07,18:09:00,6.326,0.150,231.77,27.6,0.0,62.0,17.0

Time of execution: 0.1308143000351265

In [19]:
import numpy as np
from datetime import datetime

In [20]:
np_df = np.genfromtxt("household_power_consumption.txt", 
       missing_values=["?", np.nan], delimiter=';', 
       dtype=np_types, encoding="UTF=8", names=True)



numeric_columns = [header for header in headers if np_df[header].dtype in ['float64', 'int64']]
means = {col: np.nanmean(np_df[col]) for col in numeric_columns}

for col in numeric_columns:
    np_df[col] = np.nan_to_num(np_df[col], nan=means[col])

In [21]:
def convert_time_str_to_time(time_str):
    return datetime.strptime(time_str, '%H:%M:%S').time()

np_df["Time"] = np.vectorize(convert_time_str_to_time)(np_df["Time"])

In [22]:
def np_sort_gap(value: int) -> None:
      display(Markdown(" ### ⚡All entries with Global_active_power higher than 5 kW"))
      display(np_df[np_df["Global_active_power"] > value][:20])

def np_sort_voltage(value: int) -> None:
      display(Markdown(" ### ⚡All entries with Voltage higher than 235 V"))
      display(np_df[np_df["Voltage"] > value][:20])

def np_sort_gi(values: tuple) -> None:
      display(Markdown(" ### ⚡All entries with Global_intensity between 19-20 A \
                        and \"Sub_metering_2\" > \"Sub_metering_3\""))
      display(np_df[(np_df["Global_intensity"] >= values[0]) & 
                   (np_df["Global_intensity"] <= values[1]) & 
                   (np_df["Sub_metering_2"] > np_df["Sub_metering_3"])][:20])
      
def np_sort_sample() -> None:
      np.random.seed(42)
      sample_df = np.random.choice(np_df, size=500000, replace=False)
      means = {col: np.mean(sample_df[col]) for col in ["Sub_metering_1", "Sub_metering_2", "Sub_metering_3"]}
      display(Markdown(f''' ### ⚡ Average values of energy consumption:
            Sub_metering_1: {means["Sub_metering_1"]:.2f}
            Sub_metering_2: {means["Sub_metering_2"]:.2f}
            Sub_metering_3: {means["Sub_metering_3"]:.2f}
            '''))

def np_multiple_sort(value: int) -> None:
      sorted_df = np_df[(np_df["Time"] > "18:00:00") & 
                        (np_df["Global_active_power"] > value)]
      
      sorted_df = sorted_df[(sorted_df["Sub_metering_2"] > sorted_df["Sub_metering_1"]) &
                           (sorted_df["Sub_metering_2"] > sorted_df["Sub_metering_3"])]
      
      half_len = len(sorted_df)//2

      first_half = sorted_df[:half_len]
      second_half = sorted_df[half_len:]
      
      final_df = np.concatenate([first_half[::3], second_half[::4]])
      display(final_df[:20])

In [23]:
#
print(f"Time execution: {timeit.timeit(lambda: np_sort_gap(value=5), number=1)}")

#
print(f"Time execution: {timeit.timeit(lambda: np_sort_voltage(value=235), number=1)}")

#
print(f"Time execution: {timeit.timeit(lambda: np_sort_gi(values=(19, 20)), number=1)}")

#
print(f"Time execution: {timeit.timeit(lambda: np_sort_sample(), number=1)}")

#
print(f"Time execution: {timeit.timeit(lambda: np_multiple_sort(value=6), number=1)}")

 ### ⚡All entries with Global_active_power higher than 5 kW

array([('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.),
       ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.),
       ('16/12/2006', '17:35:00', 5.412, 0.47 , 232.78, 23.2, 0.,  1., 17.),
       ('16/12/2006', '17:36:00', 5.224, 0.478, 232.99, 22.4, 0.,  1., 16.),
       ('16/12/2006', '17:37:00', 5.268, 0.398, 232.91, 22.6, 0.,  2., 17.),
       ('16/12/2006', '17:44:00', 5.894, 0.   , 232.69, 25.4, 0.,  0., 16.),
       ('16/12/2006', '17:45:00', 7.706, 0.   , 230.98, 33.2, 0.,  0., 17.),
       ('16/12/2006', '17:46:00', 7.026, 0.   , 232.21, 30.6, 0.,  0., 16.),
       ('16/12/2006', '17:47:00', 5.174, 0.   , 234.19, 22. , 0.,  0., 17.),
       ('16/12/2006', '18:05:00', 6.052, 0.192, 232.93, 26.2, 0., 37., 17.),
       ('16/12/2006', '18:06:00', 6.752, 0.186, 232.12, 29. , 0., 36., 17.),
       ('16/12/2006', '18:07:00', 6.474, 0.144, 231.85, 27.8, 0., 37., 16.),
       ('16/12/2006', '18:08:00', 6.308, 0.116, 232.25, 27. , 0., 36., 17.),
       ('16/12/2006', '18:35:00', 6.072, 0.   , 232.48, 26.4, 0., 27., 17.),
       ('17/12/2006', '01:05:00', 5.282, 0.15 , 237.38, 22.4, 0., 35.,  0.),
       ('17/12/2006', '01:09:00', 5.242, 0.178, 239.49, 21.8, 0., 37.,  0.),
       ('17/12/2006', '01:13:00', 5.254, 0.214, 238.15, 22. , 0., 35.,  0.),
       ('17/12/2006', '01:14:00', 5.246, 0.23 , 237.91, 22. , 0., 36.,  0.),
       ('17/12/2006', '01:15:00', 5.216, 0.21 , 237.44, 22. , 0., 36.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Time execution: 0.04346279997844249

 ### ⚡All entries with Voltage higher than 235 V

array([('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.),
       ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:31:00', 3.7  , 0.52 , 235.22, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:38:00', 4.054, 0.422, 235.24, 17.6, 0., 1., 17.),
       ('16/12/2006', '17:39:00', 3.384, 0.282, 237.14, 14.2, 0., 0., 17.),
       ('16/12/2006', '17:40:00', 3.27 , 0.152, 236.73, 13.8, 0., 0., 17.),
       ('16/12/2006', '17:41:00', 3.43 , 0.156, 237.06, 14.4, 0., 0., 17.),
       ('16/12/2006', '17:42:00', 3.266, 0.   , 237.13, 13.8, 0., 0., 18.),
       ('16/12/2006', '17:43:00', 3.728, 0.   , 235.84, 16.4, 0., 0., 17.),
       ('16/12/2006', '17:49:00', 3.248, 0.   , 236.66, 13.6, 0., 0., 17.),
       ('16/12/2006', '17:50:00', 3.236, 0.   , 235.84, 13.6, 0., 0., 17.),
       ('16/12/2006', '17:51:00', 3.228, 0.   , 235.6 , 13.6, 0., 0., 17.),
       ('16/12/2006', '17:52:00', 3.258, 0.   , 235.49, 13.8, 0., 0., 17.),
       ('16/12/2006', '17:53:00', 3.178, 0.   , 235.28, 13.4, 0., 0., 17.),
       ('16/12/2006', '17:54:00', 2.72 , 0.   , 235.06, 11.6, 0., 0., 17.),
       ('16/12/2006', '17:59:00', 2.472, 0.058, 236.94, 10.4, 0., 0., 17.),
       ('16/12/2006', '18:00:00', 2.79 , 0.18 , 237.52, 11.8, 0., 0., 18.),
       ('16/12/2006', '18:01:00', 2.624, 0.144, 238.2 , 11. , 0., 0., 17.),
       ('16/12/2006', '18:02:00', 2.772, 0.118, 238.28, 11.6, 0., 0., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Time execution: 0.22590049996506423

 ### ⚡All entries with Global_intensity between 19-20 A                         and "Sub_metering_2" > "Sub_metering_3"

array([('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. ,  0., 37., 16.),
       ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6,  0., 13.,  0.),
       ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6,  0., 27.,  0.),
       ('17/12/2006', '01:19:00', 4.636, 0.14 , 237.37, 19.4,  0., 36.,  0.),
       ('17/12/2006', '01:20:00', 4.634, 0.152, 237.17, 19.4,  0., 35.,  0.),
       ('17/12/2006', '01:21:00', 4.652, 0.142, 237.92, 19.4,  0., 36.,  0.),
       ('17/12/2006', '01:52:00', 4.622, 0.24 , 239.59, 19.2,  0., 37.,  0.),
       ('17/12/2006', '09:08:00', 4.762, 0.088, 237.44, 20. ,  0., 38.,  0.),
       ('17/12/2006', '09:09:00', 4.506, 0.088, 237.25, 19. ,  0., 38.,  0.),
       ('17/12/2006', '10:55:00', 4.444, 0.136, 235.97, 19.2,  2., 50., 17.),
       ('18/12/2006', '19:23:00', 4.642, 0.4  , 233.62, 19.8,  0., 36.,  0.),
       ('18/12/2006', '19:24:00', 4.58 , 0.39 , 232.51, 19.6,  0., 37.,  0.),
       ('19/12/2006', '09:04:00', 4.674, 0.104, 236.91, 19.6, 38., 18., 17.),
       ('19/12/2006', '11:05:00', 4.602, 0.   , 237.24, 19.4,  0., 73.,  0.),
       ('19/12/2006', '11:06:00', 4.698, 0.   , 237.94, 19.6,  0., 73.,  0.),
       ('19/12/2006', '11:07:00', 4.702, 0.   , 238.03, 19.6,  0., 73.,  0.),
       ('19/12/2006', '11:08:00', 4.702, 0.08 , 237.81, 19.6,  0., 73.,  0.),
       ('19/12/2006', '11:09:00', 4.66 , 0.084, 236.58, 19.6,  0., 73.,  0.),
       ('19/12/2006', '11:10:00', 4.618, 0.072, 235.53, 19.6,  0., 72.,  0.),
       ('19/12/2006', '11:11:00', 4.668, 0.086, 236.91, 19.6,  0., 73.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Time execution: 0.07503599999472499

 ### ⚡ Average values of energy consumption:
            Sub_metering_1: 1.12
            Sub_metering_2: 1.30
            Sub_metering_3: 6.47

Time execution: 0.27172009996138513

array([('16/12/2006', '18:05:00', 6.052, 0.192, 232.93, 26.2,  0., 37., 17.),
       ('16/12/2006', '18:08:00', 6.308, 0.116, 232.25, 27. ,  0., 36., 17.),
       ('28/12/2006', '20:58:00', 6.386, 0.374, 236.63, 27. ,  1., 36., 17.),
       ('28/12/2006', '21:02:00', 8.088, 0.262, 235.5 , 34.4,  1., 72., 17.),
       ('28/12/2006', '21:05:00', 7.23 , 0.152, 235.22, 30.6,  1., 73., 17.),
       ('28/12/2006', '21:08:00', 7.352, 0.   , 235.45, 31.2,  1., 73., 17.),
       ('28/12/2006', '21:11:00', 9.048, 0.   , 231.48, 39. , 34., 71., 16.),
       ('28/12/2006', '21:14:00', 9.118, 0.108, 231.18, 39.4, 36., 72., 16.),
       ('28/12/2006', '21:17:00', 7.04 , 0.13 , 233.27, 30.2, 37., 38., 17.),
       ('29/12/2006', '21:16:00', 6.146, 0.116, 230.53, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:19:00', 6.184, 0.138, 231.57, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:22:00', 6.214, 0.12 , 230.53, 26.8,  0., 70.,  0.),
       ('29/12/2006', '21:25:00', 6.086, 0.   , 229.04, 26.6,  0., 69.,  0.),
       ('29/12/2006', '21:29:00', 6.66 , 0.   , 229.  , 29. ,  0., 69., 17.),
       ('29/12/2006', '22:28:00', 6.3  , 0.294, 236.08, 26.8,  0., 65., 17.),
       ('29/12/2006', '22:31:00', 6.426, 0.282, 234.8 , 27.4,  0., 73., 17.),
       ('29/12/2006', '22:34:00', 6.238, 0.268, 235.12, 26.4,  0., 73., 17.),
       ('7/1/2007', '18:03:00', 6.458, 0.   , 230.85, 27.8,  0., 69., 16.),
       ('7/1/2007', '18:06:00', 6.676, 0.   , 230.88, 28.8,  0., 69., 16.),
       ('7/1/2007', '18:09:00', 6.326, 0.15 , 231.77, 27.6,  0., 62., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Time execution: 0.056092899991199374

Другий рівень (ускладнений)